@using System.Configuration
@using Big.Unicentro.Unipolla.DataAccess.Entities
@using Big.Unicentro.Unipolla.DataAccess.Model
@{
    ViewBag.Title = "Polla Unicentro Medellin";

    DateTime finishDateTime = Convert.ToDateTime(ConfigurationManager.AppSettings.Get("FinishDate"));

    List<UNIPOLLA_TEAM> listTeam = ViewBag.Teams;
    List<UNIPOLLA_BET> listBet = ViewBag.Bets;
    var idTeam = 0;
    var idTeam2 = 0;
    var point1 = 0;
    var point2 = 0;
    UNIPOLLA_BET lTeam;


}



<div class="container">
    <div class="logo hidden-desktop">
        <img src="@Url.Content("~/Content/images/logo.png")" alt="">
    </div>
    <div class="split split-one">

        <div class="round round-two">
            <div class="round-details">Cuartos de Final</div>
            <div class="flex-mobile">
                @*Div de izquierda*@
                <ul class="matchup matchup-red">
                    <div class="blue top">
                        <span>1</span>
                    </div>

                    <li class="team team-top">
                        <label style="color: white"> 1A </label>
                        <select id="ddl1A" class="name name2">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @{

                                lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 1);
                                if (lTeam != null)
                                {
                                    idTeam = lTeam.ID_TEAM_1;
                                    idTeam2 = lTeam.ID_TEAM_2;
                                    point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                    point2 = lTeam.POINTS_TEAM_2 ?? 0;
                                }

                                if (idTeam == 0)
                                {
                                    foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "A"))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                                else
                                {
                                    foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                            }
                        </select><input type="text" value="@point1" class="score score2">
                    </li>
                    <span class="vs">VS</span>
                    <li class="team team-bottom">
                        <label style="color: white">3B/C</label>
                        <select id="ddl2B" class="name name2">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @if (idTeam2 == 0)
                            {
                                foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "B" || t.GROUP_TEAM == "C"))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                            else
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                        </select><input type="text" value="@point2" class="score score2">
                    </li>

                    <img class="blue bttm" src="@Url.Content("~/Content/images/blue_top.png")" alt="">
                </ul>
                <ul class="matchup matchup-red division-oct">
                    <div class="blue top">
                        <span>2</span>
                    </div>


                    <li class="team team-top">
                        <label style="color: white">2A</label>
                        <select id="ddl1C" class="name name2">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @{

                                lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 2);
                                if (lTeam != null)
                                {
                                    idTeam = lTeam.ID_TEAM_1;
                                    idTeam2 = lTeam.ID_TEAM_2;
                                    point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                    point2 = lTeam.POINTS_TEAM_2 ?? 0;
                                }

                                if (idTeam == 0)
                                {
                                    foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "A"))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                                else
                                {
                                    foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                            }


                        </select>
                        <input type="text" value="@point1" class="score score2">
                    </li>
                    <span class="vs">VS</span>
                    <li class="team team-bottom">
                        <label style="color: white">2B</label>
                        <select id="ddl2D" class="name name2">


                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}

                            @if (idTeam2 == 0)
                            {
                                foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "B"))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                            else
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }

                        </select><input type="text" value="@point2" class="score score2">
                    </li>
                    <img class="blue bttm" src="@Url.Content("~/Content/images/blue_top.png")" alt="">
                </ul>
                @*Div de Izquierda*@
            </div>

        </div>	<!-- END ROUND TWO -->

        <div class="round round-three">
            <div class="round-details">Semifinal</div>
            <div class="flex-mobile">
                <ul class="matchup matchup-red">
                    <div class="blue top">
                        <span>5</span>
                    </div>
                    <li class="team team-top">
                        <select id="ddlW49" class="name">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @{

                                lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 13);
                                if (lTeam != null)
                                {
                                    idTeam = lTeam.ID_TEAM_1;
                                    idTeam2 = lTeam.ID_TEAM_2;
                                    point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                    point2 = lTeam.POINTS_TEAM_2 ?? 0;
                                }

                                if (idTeam != 0)
                                {
                                    foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }

                            }
                        </select><input type="text" value="@point1" class="score">
                    </li>
                    <span class="vs">VS</span>
                    <li class="team team-top">
                        <select id="ddlW51" class="name">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @if (idTeam2 != 0)
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                        </select><input type="text" value="@point2" class="score">
                    </li>
                    <img class="blue bttm" src="@Url.Content("~/Content/images/blue_top.png")" alt="">
                </ul>
            </div>
        </div>	<!-- END ROUND THREE -->
    </div>
    <div class="champion">
        <div class="logo hidden-mobile-tablet">
            <img src="@Url.Content("~/Content/images/logo.png")" alt="">
        </div>


        <div class="final">
            <ul class="matchup matchup-red">
                <div class="top">

                </div>
                <li class="team team-top">
                    <select id="ddlW61" class="name">
                        @if (listBet.Count <= 0)
                        {
                            <option value="-1">-- Seleccione --</option>}
                        @{

                            lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 16);
                            if (lTeam != null)
                            {
                                idTeam = lTeam.ID_TEAM_1;
                                idTeam2 = lTeam.ID_TEAM_2;
                                point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                point2 = lTeam.POINTS_TEAM_2 ?? 0;
                            }

                            if (idTeam != 0)
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }

                        }
                    </select><input type="text" value="@point1" class="score">
                </li>
                <span class="vs">VS</span>
                <li class="team team-bottom">
                    <select id="ddlW62" class="name">
                        @if (listBet.Count <= 0)
                        {
                            <option value="-1">-- Seleccione --</option>}
                        @if (idTeam2 != 0)
                        {
                            foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                            {

                                <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                            }
                        }
                    </select><input type="text" value="@point2" class="score">
                </li>
                <li class="team team-bottom li-campeon">
                    <select id="ddlWin" class="name-champ">
                        @if (listBet.Count <= 0)
                        {
                            <option value="-1">-- Seleccione --</option>}
                        @{

                            lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 18);
                            if (lTeam != null)
                            {
                                idTeam = lTeam.ID_TEAM_1;
                                idTeam2 = lTeam.ID_TEAM_2;
                                point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                point2 = lTeam.POINTS_TEAM_2 ?? 0;
                            }

                            if (idTeam != 0)
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }

                        }
                    </select>
                    <input type="text" value="@point1" class="score score-campeon">
                </li>
            </ul>
        </div>
        <div class="semifinal">
            <ul class="matchup matchup-red">
                <div class="top">

                </div>
                <li class="team team-top">
                    <select id="ddlL61" class="name">
                        @if (listBet.Count <= 0)
                        {
                            <option value="-1">-- Seleccione --</option>}
                        @{

                            lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 15);
                            if (lTeam != null)
                            {
                                idTeam = lTeam.ID_TEAM_1;
                                idTeam2 = lTeam.ID_TEAM_2;
                                point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                point2 = lTeam.POINTS_TEAM_2 ?? 0;
                            }

                            if (idTeam != 0)
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }

                        }
                    </select><input type="text" value="@point1" class="score">
                </li>
                <span class="vs">VS</span>
                <li class="team team-bottom">
                    <select id="ddlL62" class="name">
                        @if (listBet.Count <= 0)
                        {
                            <option value="-1">-- Seleccione --</option>}
                        @if (idTeam2 != 0)
                        {
                            foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                            {

                                <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                            }
                        }
                    </select><input type="text" value="@point2" class="score">
                </li>
                <li class="team team-bottom li-campeon">
                    <select id="ddltercero" class="name-champ">
                        @if (listBet.Count <= 0)
                        {
                            <option value="-1">-- Seleccione --</option>}
                        @{

                            lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 17);
                            if (lTeam != null)
                            {
                                idTeam = lTeam.ID_TEAM_1;
                                idTeam2 = lTeam.ID_TEAM_2;
                                point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                point2 = lTeam.POINTS_TEAM_2 ?? 0;
                            }

                            if (idTeam != 0)
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }

                        }
                    </select>
                    <input type="text" value="@point1" class="score score-campeon">
                </li>
            </ul>

        </div>
        @if (DateTime.Now < finishDateTime && listBet.Count <= 0)
        {
            <div class="ct-cta hidden-max450">
                <a id="btnGuardar" href="" class="cta">ENVIAR</a>
            </div>
        }
    </div>
    <div class="split split-two">
        <div class="round round-three">
            <div class="round-details">Semifinal</div>
            <div class="flex-mobile">
                <ul class="matchup matchup-red">
                    <div class="blue top">
                        <span>6</span>
                    </div>
                    <li class="team team-bottom">
                        <select id="ddlW50" class="name">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @{

                                lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 14);
                                if (lTeam != null)
                                {
                                    idTeam = lTeam.ID_TEAM_1;
                                    idTeam2 = lTeam.ID_TEAM_2;
                                    point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                    point2 = lTeam.POINTS_TEAM_2 ?? 0;
                                }

                                if (idTeam != 0)
                                {
                                    foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }

                            }

                        </select><input type="text" value="@point1" class="score">
                    </li>
                    <span class="vs">VS</span>
                    <li class="team team-bottom">
                        <select id="ddlW52" class="name">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @if (idTeam2 != 0)
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                        </select><input type="text" value="@point2" class="score">
                    </li>
                    <img class="blue bttm" src="@Url.Content("~/Content/images/blue_top.png")" alt="">
                </ul>
            </div>
        </div>	<!-- END ROUND THREE -->
        <div class="round round-two">
            <div class="round-details">Cuartos de Final</div>
            <div class="flex-mobile">
                @*Div de Derecha*@
                <ul class="matchup matchup-red">
                    <div class="blue top">
                        <span>1</span>
                    </div>

                    <li class="team team-top">
                        <label style="color: white"> 1A </label>
                        <select id="ddl1B" class="name name2">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @{

                                lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 1);
                                if (lTeam != null)
                                {
                                    idTeam = lTeam.ID_TEAM_1;
                                    idTeam2 = lTeam.ID_TEAM_2;
                                    point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                    point2 = lTeam.POINTS_TEAM_2 ?? 0;
                                }

                                if (idTeam == 0)
                                {
                                    foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "C"))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                                else
                                {
                                    foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                            }
                        </select><input type="text" value="@point1" class="score score2">
                    </li>
                    <span class="vs">VS</span>
                    <li class="team team-bottom">
                        <label style="color: white">3A/C</label>
                        <select id="ddl2A" class="name name2">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @if (idTeam2 == 0)
                            {
                                foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "A" || t.GROUP_TEAM == "B"))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                            else
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                        </select><input type="text" value="@point2" class="score score2">
                    </li>

                    <img class="blue bttm" src="@Url.Content("~/Content/images/blue_top.png")" alt="">
                </ul>
                <ul class="matchup matchup-red division-oct">
                    <div class="blue top">
                        <span>2</span>
                    </div>


                    <li class="team team-top">
                        <label style="color: white">2A</label>
                        <select id="ddl1D" class="name name2">
                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}
                            @{

                                lTeam = listBet.FirstOrDefault(b => b.ID_MATCH == 2);
                                if (lTeam != null)
                                {
                                    idTeam = lTeam.ID_TEAM_1;
                                    idTeam2 = lTeam.ID_TEAM_2;
                                    point1 = lTeam.POINTS_TEAM_1 ?? 0;
                                    point2 = lTeam.POINTS_TEAM_2 ?? 0;
                                }

                                if (idTeam == 0)
                                {
                                    foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "B"))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                                else
                                {
                                    foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam))
                                    {

                                        <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                    }
                                }
                            }


                        </select>
                        <input type="text" value="@point1" class="score score2">
                    </li>
                    <span class="vs">VS</span>
                    <li class="team team-bottom">
                        <label style="color: white">2B</label>
                        <select id="ddl2C" class="name name2">


                            @if (listBet.Count <= 0)
                            {
                                <option value="-1">-- Seleccione --</option>}

                            @if (idTeam2 == 0)
                            {
                                foreach (var team in listTeam.Where(t => t.GROUP_TEAM == "C"))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }
                            else
                            {
                                foreach (var team in listTeam.Where(t => t.ID_TEAM == idTeam2))
                                {

                                    <option value="@team.ID_TEAM">@team.NAME_TEAM</option>
                                }
                            }

                        </select><input type="text" value="@point2" class="score score2">
                    </li>
                    <img class="blue bttm" src="@Url.Content("~/Content/images/blue_top.png")" alt="">
                </ul>
                @*Div de Derecha*@
            </div>
        </div>	<!-- END ROUND TWO -->

        @if (DateTime.Now < finishDateTime && listBet.Count <= 0)
        {
            <!-- END ROUND ONE -->
            <div class="ct-cta hidden-min450">
                <a id="btnGuardar" href="" class="cta">ENVIAR</a>
            </div>
        }

        @Html.Partial("_Footer3")
    </div>

</div>
<script>
    $( document ).ready(function() {
        @if (DateTime.Now > finishDateTime || listBet.Count > 0)
    {
        @Html.Raw("$('select').attr('disabled', 'disabled');")
                }
    });
</script>
<script src="@Url.Content("~/Content/js/develop1.js")"></script>